 .u-section-1 {
  background-image: url("images/gggg-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 971px;
}

.u-section-1 .u-image-1 {
  width: 463px;
  height: 470px;
  margin: 134px 307px 0 auto;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(59,71,118,0.4);
  letter-spacing: 2px;
  font-size: 2.25rem;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 0 85px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 16px auto 60px;
  padding: 15px 41px 15px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-1 .u-image-1 {
    width: 403px;
    height: 308px;
    margin-right: 257px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 260px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}